<section name="navbar" class="navigation">
  <ul>
    <a ui-sref="friends">
      <li class="click-selection friend-select highlight-select"
      ui-sref-active="active">
          Friends
      </li>
    </a>
    <a ui-sref="baskets">
      <li class="click-selection basket-select"
          ui-sref-active="active">
        Baskets
      </li>
    </a>
  </ul>
</section>

<ul class="baskets">

  <li ng-repeat="basket in baskets | orderBy: 'name'">

    <a ui-sref="links({basketName: basket.name,
                        basketID: basket.id})">

      <div class="basket-list-item">

        {{basket.name}}

      </div>

    </a>

  </li>

  <li class="create-basket">

    <div ng-click="showForm = !showForm"
        ng-hide="showForm">
      
      <p><span>+</span>New Basket</p>

    </div>

    <div ng-show="showForm">

      <form ng-submit="createBasket()">
        <input type="text" ng-model="newBasketName">
        <input type="Submit" value="Create Basket">
      </form>

    </div>

  </li>

</ul> <!-- baskets -->