<div class="basket-wrapper">

  <!-- <new-basket-button
        show-form="showForm">
  </new-basket-button> -->

  <ul class="baskets">

<!--     <li>

      <form form="newBasketForm"
            ng-show="showForm"
            ng-submit="createBasket()">
        <input type="text" 
                ng-model="newBasketName">
        <input type="submit" value="CREATE">
      </form>

    </li> -->

    <li>

      <a ui-sref="basket.shared">

        <div class="basket-list-item">
          Inbox
        </div>

      </a>

    </li>

    <li ng-repeat="basket in baskets | orderBy: 'name'"
        ui-sref-active="active">

        <a ui-sref="basket.save({basketName: basket.name,
                                basketID: basket.id})">

        <div class="basket-list-item">

          {{basket.name}}

        </div>

        </a>

    </li>

  </ul> <!-- baskets -->

</div> <!-- basket-wrapper -->

<div ui-view>
  <!-- <h2 class="choose-basket">Choose a basket to save this web page to:</h2> -->


  <div class="link-wrapper-inner">
    
    <h2 class="link-header">Recently Saved Links</h2>

    <ul class="link-list">

      <li ng-repeat="link in recentLinks | orderBy: '-created_at'">

        <div class="link-wrapper">

          <a target="_blank" href="{{link.link.url}}" class="link">

            <img ng-src="{{link.link.image}}" alt="test"/>

            <p class="date-time">{{link.link.created_at | date : format : timezone}}</p>

            <p class="title">{{link.link.title}}</p>

            <p class="message">{{link.link.message}}</p>

          </a>

        </div>

      </li>

    </ul> <!-- baskets -->

  </div>

</div>
