<ul class="baskets">

  <li class="create-basket">

    <div ng-click="showForm = !showForm"
        ng-hide="showForm">
      
      <p><span>+</span>New Basket</p>

    </div>

<!--     <div ng-show="showForm">

      <form ng-submit="createBasket()">
        <input type="text" ng-model="newBasketName">
        <input type="Submit" value="Create Basket">
      </form>

    </div> -->

  <li>

    <a ui-sref="basket.shared">

      <div class="basket-list-item">
        Inbox
      </div>

    </a>

  </li>

  </li>

  <li ng-repeat="basket in baskets | orderBy: 'name'"
      ui-sref-active="active">

    <a ui-sref="baskets.save({basketName: basket.name,
                        basketID: basket.id})">

      <div class="basket-list-item">

        {{basket.name}}

      </div>

    </a>

  </li>

</ul> <!-- baskets -->

<div ui-view></div>