<button>
  <a ui-sref="baskets">
    Back
  </a>
</button>

<h2>This is where the links will show up!</h2>

<div class="note-container">

  <div class="alert">
    Save to: <p class="friend-name-alert">{{selectedBasket.name}}</p>
  </div>

  <form class="form" id="newLinkForm">
    <p class="text-container">
      <textarea id="note" name="note" cols="50" rows="7"
                form="newLinkForm"
                placeholder="Add note:"
                ng-model="$parent.message">
        {{message}}
      </textarea>
    </p>
  </form>

  <div class="character-count">
    <p id="message"></p>
  </div>

  <div class="send-btn"
        ng-click="saveLink(selectedBasket.id)">
    <div class="send-btn-button">
      <p class="btn-text">Send</p>
    </div>
  </div>

</div>