<button>
  <a ui-sref="baskets">
    Back
  </a>
</button>

<h2>{{basketName}}</h2>

<ul class="links">

  <li ng-repeat="link in links | orderBy: '-created_at'">

    <a target="_blank" sref="{{link.url}}">

      <div class="link-list-item">

        {{link.title}}

      </div>

    </a>

  </li>

</ul> <!-- baskets -->

<div class="note-container">

  <div class="alert">
    Save to: <p class="friend-name-alert">{{basketName}}</p>
  </div>

  <form class="form" id="newLinkForm">
    <p class="text-container">
      <textarea id="note" name="note" cols="50" rows="7"
                form="newLinkForm"
                placeholder="Add note:"
                ng-model="$parent.message">
        {{message}}
      </textarea>
    </p>
  </form>

  <div class="character-count">
    <p id="message"></p>
  </div>

  <div class="send-btn"
        ng-click="saveLink(basketID)">
    <div class="send-btn-button">
      <p class="btn-text">Send</p>
    </div>
  </div>

</div>