<div class="note-container">

  <div class="link-button">
    <p>Links Saved in {{basketName}}</p>
  </div>

  <h2>Save to {{basketName}}</h2>
      
  <div class="note-container">

    <form ng-submit="saveLink(basketID)">

      <input type="text" placeholder="{{url}}">
      <h2>URL</h2>
      
      <input type="text" placeholder="{{title}}">
      <h2>Title</h2>

      <input type="text" ng-model="message">
      <h2>Note</h2>

      <input type="submit" value="Save">

    </form>

  </div>

</div>