<ul class="baskets">
  <li ng-repeat="basket in baskets"
      ng-click="showSubmit(basket)">
      <div class="basket-list-item">
        {{basket.name}}
      </div>
  </li>
</ul>

<div class="note-container" 
      ng-if="showMessage">
      <!-- ng-if throws off the ng-model -->
  <div class="alert">
    Save to: <p class="friend-name-alert">{{selectedBasket.name}}</p>
  </div>
  <form class="form" id="newLinkForm">
    <p class="text-container">
      <textarea id="note" name="note" cols="50" rows="7"
                form="newLinkForm"
                placeholder="Add note (optional):"
                ng-model="$parent.message">
        {{message}}
      </textarea>
    </p>
  </form>
  <div class="character-count">
    <p id="message"></p>
  </div>
  <div class="send-btn"
        ng-click="saveLink(selectedBasket.id)">
    <div class="send-btn-button">
      <p class="btn-text">Send</p>
    </div>
  </div>
</div>