<div class="link-wrapper-inner">

  <h2>Inbox</h2>
  
  <ul class="link-list">

    <li ng-repeat="link in sharedLinks | orderBy: '-created_at'">

      <div class="link-wrapper">

        <a target="_blank" href="{{link.url}}" class="link">

          <img ng-src="{{link.image}}" alt="test"/>

          <p>Sent from: {{link.sender}}</p>

          <p class="date-time">{{link.created_at | date : format : timezone}}</p>

          <p class="title">{{link.title}}</p>

          <p class="message">{{link.message}}</p>

        </a>

      </div>

    </li>

  </ul> <!-- baskets -->

</div>