<div class="note-container">

<!--   <div class="link-button">
    <a ui-sref="basket.links({basketName: basketName,
                              basketID: basketID})">
    Links Saved in this Basket</a>
  </div> -->
  <show-links-button></show-links-button>

      
  <div class="note-container">

    <form ng-submit="saveLink(basketID)">

      <h2 class="basket-title">Save to: <span>{{basketName}}<span></h2>

      <input type="text" value="{{url}}" ng-model="url">
      <h2 class="heading">URL</h2>
      
      <input type="text" value="{{title}}" ng-model="title">
      <h2 class="heading">Title</h2>

      <!-- <input type="textbox" ng-model="message"> -->
      <textarea class="text-area"
                ng-model="message"
                rows="4" 
                cols="40">
                Add a note here:
      </textarea>
      <h2 class="heading">Note</h2>

      <input class="submit-btn" type="submit" value="Save">

    </form>

  </div>

</div>