<div class="note-container">

  <form ng-submit="saveLink(basketID)">

    <h2 class="basket-title">Save to:</h2>

    <input type="text" value="{{url}}" ng-model="basketName" readonly>
    <h2 class="heading">Basket (choose from left)</h2>

    <input type="text" value="{{url}}" ng-model="url">
    <h2 class="heading">URL</h2>
    
    <input type="text" value="{{title}}" ng-model="title">
    <h2 class="heading">Title</h2>

    <!-- <input type="textbox" ng-model="message"> -->
    <textarea class="text-area"
              ng-model="message"
              rows="4" 
              cols="40">
              Add a note here:
    </textarea>
    <h2 class="heading">Note</h2>

    <input class="submit-btn" type="submit" value="Save">

  </form>

</div> <!-- note-container -->

<show-links-button
      basket-name="basketName"
      basket-id="basketID">
</show-links-button>