.baskets,
.friends {
  float: left;
  width: 25%;
  margin: 0;
  height: 310px;
  background: #191919;
  color: #999;
  overflow-y: auto;
  font-family: 'Lato';
  list-style: none;
  padding: 0;
}
.baskets {
  margin-top: 39px;
}
::-webkit-scrollbar {
      background-color: #333333;
      width: 4px;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.baskets a {
  width: 100%;
  color: #999;
  text-decoration: none;
}
.baskets a:hover {
  color: #fff;
}
.active {
  background: #111;
  border-right: 5px solid #90EE90;
}
.active a {
  color: #fff;
  text-decoration: none;
}

.baskets li,
.friends li {
    cursor: pointer;
    list-style: none;
    font-size: 14px;
}
.baskets li:hover, 
.friends li:hover {
  color: #fff;
  background: #111;
  border-right: 5px solid #90EE90;
}

.basket-list-item,
.friend-list-item {
  padding: 10px 0 10px 15px;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #0a0c0e;

}

.basket-list-item:hover,
.friend-list-item:hover {
  border-top: 1px solid #111;
  border-bottom: 1px solid #0a0c0e;
}

.choose-basket {
  margin: 0;
  padding: 10px;
}

/* ========================

        TOP LINKS

======================== */
.link-header {
  margin: 0;
  padding: 15px 0 0 15px;
}





