/*===================================
            Display Area
====================================*/
.display-wrapper {
  float: left;
  height: 308px;
  width: 263px;
  background-color: #fff;
  border-left: 6px solid #ddd;
}

.loading-screen {
  width: 50%;
  margin: 25% auto 0 auto;
  text-align: center;
  font-size: 32px;
}

.loading-screen h3 {
  font-family: 'Lato';
  font-size: 18px;
  margin-top: 4px;
}

/* Basket List
*****************************/
.basket-list {
  height: 100%;
  width: 106%;
  overflow-y: auto;
  display: none;
}

.basket-click {
  cursor: pointer;
  font-family: 'Lato', 'sans-serif';
  text-align: center;
  height: 24px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #C6FFC9;
  border: 1px solid #C6FFC9;
  border-radius: 40px;
  margin: 10px 10px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}

.basket-click:hover {
  background-color: #90ee90;
  border: 1px solid #90ee90;
  color: #fff;
}

.basket-click:visited {
  background: #90EE90;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #0a0c0e;
}

.basket-click a {
  text-decoration: none;
}

/* Friend List
*****************************/
.friend-list-wrapper {
  height: 100%;
  width: 106%;
  overflow-y: auto;
}

.friend-list {
  font-family: 'Lato', 'sans-serif';
  display: inline;
  width: 54.5%;
  padding: 0;
  margin: 0;
}

.friend-container {
  cursor: pointer;
  background-color: #C6FFC9;
  border: 1px solid #C6FFC9;
  border-radius: 40px;
  margin: auto;
  width: 200px;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
}

.friend-container:hover {
  background-color: #90ee90;
  border: 1px solid #90ee90;
  color: white;
}


.friend-container img {
  padding-left: 16px;
  width: 50%;
}

.friend-container li {
  font-size: 14px;
  display: inline-block;
  list-style: none;
}

.friend-name {
  position: absolute;
  margin-top: 10px;
  margin-left: -12px;
}

.send-basket-select,
.send-friend-select {
  background-color: #90ee90;
  border: 1px solid #90ee90;
  color: white;
}
/* Inbox List
*****************************/
.shared-link-list a {
  text-decoration: none;
}

.shared-link-list {
  height: 100%;
  width: 106%;
  overflow-y: auto;
  background: #ffffff;
  font-family: 'Lato';
  font-size: 16px;
  display: none;
}

.shared-link-wrapper {
  border-bottom: 1px solid #ddd;
}
.shared-link-wrapper-container {
  padding: 9px 22px;
  font-size: 14px;
  color: black;
  border-bottom: 1px solid #ddd;
}
.shared-link-wrapper-container:hover {
  background-color: #F0FFF0;
}

.sender-name {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.shared-link-date,
.shared-link-time {
  display: inline;
  color: gray;
}

.shared-link-title-url p {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
}

.shared-link-message { 
  display: none;
}

.shared-link-date,
.shared-link-time {
  font-size: 12px;
}