/*===================================
            Navigation Area
====================================*/
.navbar-inner {
  height: 50px;
  background: #90EE90;
  color: #222;
}
.brand {
  margin: 0;
  color: #222;
  font-size: 30px;
  text-shadow: 0;
  font-family: 'Lato';
  font-weight: bold;
  text-shadow: 0 0px;
}
.navbar-inner ul {
  list-style: none;
  float: right;
  margin: 0;  
}
.navbar-inner ul li {
  display: inline-block;
}